@using TelephoneBook.Models
@model List<StaffInformation>
@{
    ViewBag.Title = "PublicUI";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Telefon Rehberi</title>

    <link href="~/Content/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

    <div id="wrapper">
        <div id="content-wrapper">
            <div class="container-fluid">
                <div class="card mb-3">
                    <div class="card-header">
                        Telefon Rehberi
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="tblAdmin" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Ad</th>
                                        <th>Soyad</th>
                                        <th>Telefon</th>
                                        <th>Departman</th>
                                        <th>Yönetici Bilgi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var inf in Model)
                                    {
                                        <tr>
                                            <td>@inf.Name</td>
                                            <td>@inf.Surname</td>
                                            <td>@inf.Telephone</td>
                                            <td>@inf.Department</td>
                                            <td>@inf.Manager</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="~/Content/Scripts/jquery.min.js"></script>
    <script src="~/Content/Scripts//bootstrap.bundle.min.js"></script>
    <script src="~/Content/Scripts/jquery.easing.min.js"></script>
    <script src="~/Content/Scripts/jquery.dataTables.js"></script>
    <script src="~/Content/Scripts/dataTables.bootstrap4.js"></script>
    <script src="~/Content/Scripts/sb-admin.min.js"></script>
    <script src="~/Content/Scripts/datatables-demo.js"></script>
    <script>
    $('#tblAdmin').DataTable({
    "language":{
    "url":"//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
    }
    });
    </script>

</body>

</html>

